<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head") %>
<body>
    <%- include ("./partials/headerRegister") %>

    <main>
        <section>

            <div class="login__container">
                <form>
                    <label>Nombre de usuario</label>
                    <input type="text" class="login__input">

                    <label>Contraseña</label>
                    <input type="password" class="login__input">

                    <div class="login__button--container">
                    <input type="button" value="Ingresar" class="login__button">
                    </div>
                </form>
            </div>
        </section>
    </main>

    <%- include ("./partials/footer") %>
</body>
</html>