<header>
    <div class="header__container">
    <div class="header__main">
    <div class="header__top">
    <div class="logo">
        <a href="/">
        <img src="/images/logo-mercado-liebre.svg">
        </a>
    </div>
    
    <form class="search" method="POST">
        <input type="text" placeholder="Buscar productos...">
        <div class="search__button">
        <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </form>
    </div>

    <section class="header__complement">
        <h4>Compra en cuotas y sin tarjeta de crédito <i class="fa-solid fa-hand-holding-dollar"></i></h4>
    </section>
    </div>

    <nav>
        <ul class="links__site">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        
        <ul class="links__user">
            <li>
                <a href="/register">
                Creá tu cuenta <i class="fa-solid fa-address-card"></i>
                </a>
            </li>
            <li>
                <a href="/login">
                    Ingresá <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            </li>
            <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>

    <div class="burger__menu--container">
        <i class="fa-solid fa-bars burger__menu--item"></i>
    </div>

    <div class="banner">
        <img src="/images/img-home-banner.jpg">
    </div>
    </div>
    
</header>